.header-container {
  display: flex;
  background-color: #fff;
  height: 135px;
  padding: 0 20px;
  align-items: flex-end;
  border-bottom-width: 2px;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-label {
  font-size: 25px;
  color: #a6a6a6;
  font-weight: 600;
}

.tools {
  display: flex;
  flex-direction: row;
}

.tools > .tool-item{
  margin-right: 25px;
}

.tools > .tool-item:last-child{
  margin-right: 0;
}

.tool-item {
  color: #a6a6a6;
  cursor: pointer;
}

.tool-item :hover{
  color: #00b0f0;
}


